* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

#canvas {
  display: block;
  width: 100%;
  height: 100%;
}
